*{
    margin: 0;
    padding: 0;
    font-family: 'popping', sans-serif;
    box-sizing: border-box;
}

body{   
    background: linear-gradient( 100deg, grey, black);
    height: 100vh;
    overflow: hidden;
}

.container{
    width: 100%;
    min-height: 100vh;
    color: #fff;
    padding-top: 4%;
    padding-left: 5%;
    margin: 20px;
}

.container h1{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600px;
}

.container h1 img{
    width: 60px;
}

.container button img{
    width: 25px;
    margin-right: 8px;
}

.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(100deg, rgb(0, 0, 0),rgb(36, 34, 34));
    color:#fff;
    font-size: 16px;
    outline: 0;
    border: 0;
    border-radius: 20px;
    padding: 15px 20px;
    margin: 30px 0 0 0;
    cursor: pointer;
}

.input-box{
    position: relative;
    width: 100%;
    max-width:500px;
    min-height: 150px;
    background:#fff;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;
}

.input-box img{
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}